<%- include header%>
<form method="post">
    原密码：<input type="password" name="password" id="ypass"><br/><br/>
    新密码：<input type="password" name="pass" id="newpass"><br/><br/>
    确认：<input type="password" name="repass" id="renewpass"><br/><br/>
    <input type="submit" value="修改">
</form>

<%- include footer%>