<%- include header %>
<form method="post">
  标题:<br/><input type="text" name="title" id="title"><br/><br/>
  内容:<br/><textarea rows="10" cols="30" name="post"></textarea><br/><br/>
    <input type="submit" value="发表">
</form>
<%- include footer %>