<%- include header%>
<form method="post" >
    账号:<input type="text" name="user" id="user" ></br></br>
    qq号:<input type="text" name="qq" id="qq"></br></br>
    <input type="submit" value="提交"></br>
</form>
<%- include footer%>